@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
}
